* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    width: 100%;
}

.container {
    position: relative;
    height: 100%;
    width: 100%;
    background-color: rgb(43, 37, 109);
    background: linear-gradient(180deg, rgba(43,37,109,1) 0%, rgba(77,67,191,1) 100%);
    overflow: hidden;
}

.flake {
    position: absolute;
    background-color: white;
    border-radius: 50%;
}

